body {
  background-color: olive;
  font-size: 30px;
}

#container {
  height: 80px;
  width: 100%;
  background-color: none;
  display: flex; 
  flex-direction: column;
  justify-content: left;
}

h1 {
  height: 80px;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
  height: 40px;
  width: 80px;
  background-color: white; 

}
button:hover {
  background-color: lightgray;
}

#alphabet {
  text-decoration: none;

}

a {
  text-decoration: none;
}

a:active {
  color: blue;
}

a:visited {
  text-decoration: line-through;
}