body {
  background-color: orange  ;
  font-size: 30px;
}

#container {
  width: 100%;
  background-color: none;
  display: flex; 
  flex-direction: column;
  justify-content: left;
}

header {
  text-align: center;
}
  
h1 {
  /* height: auto; */
  /* border: 2px solid purple; */
  margin: 2%;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration-style: dashed;
  text-decoration-line: underline
}

button {
  height: 40px;
  width: 8vw;
  background-color: white; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px; 
  height: 50px;


}


button:hover {
  background-color: black;
  color: white;

}

#buttons {
/* border: 2px solid blue; */
text-align: center;
height: 7vh;
}

/* #alphabet {
  text-decoration: none;

}

a:visited {
  text-decoration: line-through;
} */

#pageElements{
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
}

#hangman {
  /* border: 2px solid red; */
  justify-content: left;
  /* width: 450px; */

}

#randomWordPlacement {
  border: none;
}

#guesses {
  border: none;
  text-align: center;
  /* padding-bottom: 50px; */
  /* border: 2px solid blue; */
  height: 50px; 


}

#letters {
  /* border: 5px solid grey; */
  width: 60vw;

}

#word {
  /* padding-bottom: 50px; */
  text-align: center;
  /* border: 2px solid green; */
  height: 100px;


}

#correctWord {
  text-align: center;
  height: 100px;
  
}

#hint {
  /* border: 2px solid olive; */
  /* height: 100px; */
  text-align: center;
  word-wrap: normal;

}

@media (max-width: 550px) {

  #container {
    display: flex;
  }

  #pageElements {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  #buttons {
    height: auto;
}  

  img {
    /* max-width: 50%; */

  }
 
  #divHeader {
    /* height: 700vh; */
    /* border: 2px solid saddlebrown; */

    /* margin: 0; */

  }

  header {
    /* height: 80vh; */
  }


  #hangman {
    justify-content: center;
    /* width: 450px; */
    height: 10vh;
  
  }

  h1 {
    width: 100%;
    font-size: 40px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-style: dashed;
    text-decoration-line: underline; 
  }

 #correctWord {
   height: auto;
 }

 #hint {
   height: auto;
 }

#word {
  height: auto;
}

#letters {
  font-size: 25px; 
}

:-ms-keyboard-active

}