body {
  background-color: orange  ;
  font-size: 30px;
}

#container {
  width: 100%;
  background-color: none;
  display: flex; 
  flex-direction: column;
  justify-content: left;
}

header {
  text-align: center;
}
  
h1 {
  height: 80px;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration-style: dashed;
  text-decoration-line: underline
}

button {
  height: 40px;
  width: 80px;
  background-color: white; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px; 

}


button:hover {
  background-color: black;
  color: white;
}

#buttons {
text-align: center;
height: 80px;
}

#alphabet {
  text-decoration: none;

}

a {
  text-decoration: none;
}

a:active {
  color: blue;
}

a:visited {
  text-decoration: line-through;
}

#pageElements{
  display: flex;
  justify-content: center;
}

#hangman {
  justify-content: left;
  width: 450px;

}

#randomWordPlacement {
  border: none;
}

#guesses {
  border: none;
  text-align: center;
  padding-bottom: 50px;

}

#letters {
  border: none;

}

#word {
  padding-bottom: 50px;
}

#correctWord {
  
}